/* game.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

button {
    padding: 0;
    font-size: 16px;
    margin: 5px;
    border: none;
    background: none;
}

#clickButton {
    width: 150px; /* 버튼의 크기 */
    height: 150px; /* 버튼의 크기 */
}

#clickImage {
    width: 100%; /* 이미지의 가로 크기 */
    height: auto; /* 이미지의 비율을 유지하면서 자동으로 높이 조정 */
}

#info {
    margin-top: 20px;
}